page-about {

    .rotate:hover{
        ion-card{
            transform: scale(1.04, 1.04);
        }
    }

    ion-card{
        ion-icon{
            font-size: 4em;
        }

        transition: all 0.2s ease-in-out;
    }

}
