page-sched {
    td:hover,.is-selected{
        background-color: rgba(map-get($colors, myprime-dark ),.4)!important;
    }

    td{
        cursor: pointer;
        border: 1px solid rgba(0,0,0,0.5);
        height: 7em!important;
        width: 5em!important;
    }

}
