page-chat {
    .border-radius{
        border-radius: 20px!important;
    }

    .bottom-left-0{
        border-bottom-left-radius: 0!important;
    }

    .bottom-right-0{
        border-bottom-right-radius: 0!important;
    }
}
