page-home {
    // .scroll-content{ overflow:hidden!important }
    .over-flow-y{ overflow-y: scroll!important }

    .notification-panel{
        ion-item{ padding-right:15px}
        ion-item:hover{
            padding-right:10px!important;
            border-right:5px solid map-get($colors, myprime);
            background:rgba(map-get($colors, myprime),0.1)!important;
        }
    }

    .statistics{
        .stat-border{
            border-right:5px solid;
        }
    }

    .cover-height{
        height: 34em!important;
    }

    .view-hover{
        img{
            height: 4em!important;
            width: 4em!important;
        }

        .item{
            position: relative!important;
            &-hover-effect{
                opacity: 0;
                transition: all 0.2s ease-in-out;
            }
            &-hover-effect:hover{
                opacity: 1!important;
                background:rgba(map-get($colors, myprime-dark),0.9)!important;
                cursor: pointer;
            }
        }
    }


}   
