page-home {
    .cover{
        height: 90vh;
        background: linear-gradient(273deg, map-get($colors,myprime-dark),map-get($colors,mysec-dark));
        background-size: 600% 600%;
        animation:  bg-animate  10s ease infinite;
        @keyframes  bg-animate  { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

        a{
            padding: 2.5rem;
            font-size: 1.5rem;
        }
        h1,p{
            color: white!important;
            animation: fade-in 2s;
        }
        h1{
            font-size: 3.5em;
            line-height: 1.5em;

        }

        p{
            font-weight: 100;
            font-size: 1.5em;
            line-height: 1.5em;
        }

        @keyframes fade-in {
            0% { opacity:0 }
            100% { opacity:100% }
        }

    }

    ion-card{
        ion-icon{
            font-size: 4em;
        }
        
        font-family: Arial, Helvetica, sans-serif;
        transition: all 0.2s ease-in-out;
    }

    .app-form{
        ion-label{
            font-weight: 600;
            font-size:1.20em;
        }
    }


   footer{
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        background-color: map-get($colors,myprime-dark)
    }

    // #login-form{
    //     background: url('../assets/imgs/logo.png');
    //     background-size: cover;
    // }

}   
