page-home {

    .scale:hover{
        ion-card{
            transform: scale(1.04, 1.04);
        }
    }
    @media screen and (max-width:991px) {
        
        .cover{
            text-align: center;
            h1{
                font-size: 2em;
            }
    
            p{
                font-size: 1em;
            }

            a{
                padding: 1rem!important;
            }
        }

    }

    //for the logo to be invisible at 700px height devices   
    @media screen and (max-height:660px){
        
        .height-invi-700{
            display: none;
        }

    }

}  