$theme-colors: (
    "transparent":transparent,
    'gray':#E1E2E1,
   "white":#fff,
    "black":#000,
    "primary": #488aff,
    "myprime":#2196f3,
    "myprime-light":#6ec6ff,
    "myprime-dark":#0069c0,
    "mysec":#9c27b0,
    "mysec-light":#d05ce3,
    "mysec-dark":#6a0080,
);
.no-shadow{box-shadow: none!important}

.searchbar-input{
    box-shadow:none!important;
}
::-webkit-scrollbar{//remove scrollbar from ion-content
    display:none;
}
.card-md .item-md.item-block:not(:last-child) .item-inner {
border-bottom: 1px solid #dedede;
}

.no-lines .item-md.item-block:not(:last-child) .item-inner {
border:none!important;
}

.top-0{
    top:0!important;
}
.left-0{
    left:0!important;
}
.right-0{
    right:0!important;
}
.bottom-0{
    bottom:0!important;
}

.popover-content{
    top:70px!important;
}

.vh-100{ height:100vh}
.vh-90{ height:90vh}

//for the main menu(Home, Career, Faq..) to be invisible at small devices
@media screen and (max-width:575px) {
    .invi-sm{ display: none!important }
}

//for the searchbar to be invisible at medium devices   
@media screen and (max-width:991px) {
    .invi-md{ display: none!important }
}

//for menu icon(humburger menu) to be invisible at large devices
@media screen and (min-width:992px) {
    .invi-lg{ display: none!important }
}
