$theme-colors: (
  "myprime":#22bfec,
  "myprime-light":#6ff2ff,
  "myprime-dark":#008fb9,
  "mysec":#8e24aa,
  "mysec-light":#5c007a,
  "mysec-dark":#c158dc,
  "fb": #3B5998 ,
  "google":#d34836
);

    .searchbar-input{
     box-shadow:none!important;
    }
    ::-webkit-scrollbar{//remove scrollbar from ion-content
      display:none;
    }
  .card-md .item-md.item-block:not(:last-child) .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .no-lines .item-md.item-block:not(:last-child) .item-inner {
    border:none!important;
  }
  
 //for the main menu(Home, Career, Faq..) to be invisible at small devices
@media screen and (max-width:575px) {
    .invi-sm{ display: none!important }
}

//for the searchbar to be invisible at medium devices   
@media screen and (max-width:991px) {
    .invi-md{ display: none!important }
}

//for menu icon(humburger menu) to be invisible at large devices
@media screen and (min-width:992px) {
    .invi-lg{ display: none!important }
}
